*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.advantages {
    max-width: 1440px;
    min-height: 569px;
}

.advantages-header {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 3;
    color: #383838;
}

hr {
    margin: 20px auto 0;
    width: 100px;
    height: 4px;
    background: #F5BD41;
}

.advantages-cards-wrapper {
    margin: 104px 104px 122px 104px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    max-width: 296px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img {
    margin-bottom: 48px;
}

.card-title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;

}

/*footer*/

footer {
    min-height: 510px;
    width: auto;
    background-color: #10367C;
    padding-top: 120px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin: 0 272px 64px 104px;
}

.navigation ul{
    margin-left: 0;
    padding-left: 0;
}

.navigation li{
    margin-top: 0;
    margin-bottom: 24px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.navigation li:last-child {
    margin-bottom: 0;
}

.copyright{
    padding-bottom: 120px;
    margin-left: 104px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.navigation h3{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.copyright, .navigation li, .navigation h3{
    color: #ffffff;
}

.logo_footer img{
    opacity: 0%;
}

/*header*/

header{

    background-size: cover;
    background-position: center;
}

.top-navigation-main{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo{
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 105px;
    margin-top: 50px;
}

.main-nav{
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 48px;
    margin-left: auto;
    margin-top: 57px;
    font-size: 24px;
    color:#FFFFFF;
}

.stays{
    margin-right: 24px;
    color: #FFFFFF;
}

.attractions{
    margin-right: 24px;
    color: #FFFFFF;
}

a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

a:after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 4px;
    margin-top: 9px;
    background-color: #F5BD41;
    content: "";
    transition: width 0.3s ease-out;
}

a.stays:hover:after, a.stays:focus:after {
    width: 100%;
    border-radius: 5px;
}

a.attractions:hover:after, a.attractions:focus:after {
    width: 100%;
    border-radius: 5px;
}

.main-nav, .main-icons{
    justify-content: right;
}

.main-icons{
    margin-right: 104px;
    margin-left:auto;
    display: flex;
    align-items: center;
}

.day-night{
    margin-right: 24px;
}

/*form */

section{
    background-image: url(media/bgc.jpg);
    background-size: 100%;
}

form{
    padding-top:100px;
    display: flex;
    margin-left: 104px;
}

section h1{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: azure;
    margin-top: 196px;
    margin-left: 104px;
}

form input{
    margin: 24px 0 0 0;
    height: 64px;
    border: solid #FFFFFF;
    border-radius: 5px;
    padding: 0 24px;
}

label{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
    padding-bottom: 24px;
    padding-left:24px;
}

form input:focus {
    outline: 0;
    outline-offset: 0;
    border:3px solid #F5BD41; /* цвет обводки */
}

.destination{
    width:470px;
    height: 64px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #383838;
    border: 0 solid;
}

.date{
    width:260px;
    height: 64px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
    border: 0 solid;

}

.people{
    width:300px;
    height: 64px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: #383838;
    border: 0 solid;
}

button{
    width:192px;
    height: 64px;
    background-color: #3077C6;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    cursor:pointer;
    border-radius: 8px;
    border-color: transparent;
}

button {
    bottom: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    transform: translate(0, +95%);
}

button:hover {
    background-color: #FFFFFF; /* Green */
    color: #3077C6;
}

.apps{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

.app_store{
    margin-left: 24px;
}

/*.none {*/
/*    display: none !important;*/
/*}*/

@media screen and (max-width: 768px) {

    section{
        display: none;
    }

    .advantages-header {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 32px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 3;
        color: #383838;
    }


    hr {
        display: none;
    }

    .advantages-cards-wrapper {
        margin: 0 104px 0 104px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        max-width: 296px;
        background-color: #ffff;
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
    }

    .card:last-child{
        margin-bottom: 40px;
    }

    .card-img {
        margin-bottom: 16px;
        transform: scale(70%);
    }

    .card-title {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }

    /*footer*/



    footer {
        width: auto;
        min-height: 200px;
        background-color: #10367C;
        padding-top: 40px;
    }

    .navigation li{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        text-decoration: underline;
    }

    .about ul, .property_types ul, .support ul{
        display: none;
    }

    .copyright{
        margin-bottom: 0px;
        padding-bottom: 0;
        margin-left: 104px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }

    .navigation h3{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        margin: 0;
    }

    .copyright, .navigation li, .navigation h3{
        color: #ffffff;
    }

    .copyright{
        text-align: center;
        margin: 0;
    }

    .logo_footer img{
        opacity: 100%;
        display: block;
        margin: 0 auto;
    }

    ul.navigation{
        padding-top: 40px;
        padding-bottom: 32px;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 225px;
    }

}



@media screen and (min-width: 769px) and (max-width: 1024px){

    section {
        display: none;
    }

    .advantages {
        width: auto;
        min-height: auto;
    }

    .advantages-header {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 10px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 3;
        color: #383838;
    }


    hr {
        margin: 0 auto 0;
        width: 100px;
        height: 4px;
        background: #F5BD41;
    }

    .advantages-cards-wrapper {
        margin: 0 auto 40px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .card {
        max-width: 256px;
        background-color: #ffff;
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;
        margin: 60px 15px 32px 15px;
        /*margin-bottom: 32px;*/
        /*margin-top: 60px;*/
    }

    .card-img {
        margin-bottom: 16px;
    }

    .card-title {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }

    /*footer*/
    footer {
        height: auto;
        width: auto;
        background-color: #10367C;
        padding-top: 90px;
    }

    .navigation {
        display: flex;
        justify-content: center;
        margin: 0 auto 64px auto;
    }

    .navigation ul {
        margin-left: 0;
        padding-left: 0;
    }

    .navigation li {
        margin: 0 40px 16px 0;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        list-style-type: none;
        padding-left: 0;
    }

    .navigation li:last-child {
        margin-right: 0;
    }

    .copyright {
        padding-bottom: 20px;
        margin-left: 0;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }

    .navigation h3 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
    }

    .copyright, .navigation li, .navigation h3 {
        color: #ffffff;
    }

    .logo_footer img {
        opacity: 0%;
    }
}